#start{
  border: none;
  background-color: hsla(182, 87%, 50%, 0.689);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 4%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 5px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}