*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* for all elements */
/* --------------------------------- Body -------------------------------------*/
body {
  background: #f4faf1;
  color: #4f0461;
  ;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

/* ------------------------------ Header -------------------------------------*/
header {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  width: 87%;
}

header h4 {
  padding-left: 60px;
  margin: auto;
  font-size: 1.5rem;
  display: inline;
}

#high-score:hover {
  cursor: pointer;
  color: rgb(208, 33, 132);
}

#timer {
  color: rgb(208, 33, 132);
  padding-right: 20px;
}

/*----------------------------- Main Container --------------------------------------*/

.container {
  padding: 15px;
  flex-direction: column;
  width: 60%;
  margin: auto;
}

h1 {
  color: #0a0808c5;
  font-size: 2.0rem;
  font-weight: bolder;
  text-align: center;
}

p {
  color: #0a0808c5;
  font-size: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.start-btn {
  text-align: center;
  border: none;
  background-color: #8207a1;
  ;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
  color: #ffffff;
  display: inline-block;
  font-size: 20px;
  line-height: 22px;
  margin: 5px;
  padding: 14px 34px;
  cursor: pointer;
}

.start-btn:hover {
  background: rgb(211, 56, 144);
  border-radius: 10px;
  box-shadow: 1px 2px grey;
  cursor: pointer;
}

/*----------------------------- Question Container --------------------------------------*/

.question-part {
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  flex-direction: column;
  width: 60%;
  margin: auto;
}

#choices {
  color: var(--primary);
  text-align: left;
  font-size: 3.0rem;
  font-weight: bold;
}

.btn {
  background: #8207a1;
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
  border-radius: 15px;
  border: none;
  box-shadow: 0 3px grey;
  margin-top: 10px;
}

.btn:hover {
  background: rgb(211, 56, 144);
  border-radius: 10px;
  box-shadow: 1px 2px grey;
  cursor: pointer;
}

.btn-grid {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-gap: 5px;
  margin: 20px 0;
}

.btn:active {
  border: none;
  outline: none;
  box-shadow: 0 0 grey;
}

.btn:focus {
  outline: none;
}

#answer-btn {
  width: 50%;
  text-align: left;
  font-size: 3.0vw;
}
.high-score-container {
  padding-left: 60px;
  margin: auto;
  font-size: 1.5rem;
  display: flex;
}

ol {
  list-style-type: number;
}

li:nth-child(odd) {
  background-color: rgba(228, 151, 164, 0.5);
  ;
}

li {
  font-size: 4.0vw;
}




/*----------------------------- Last Container --------------------------------------*/
.end input {
  outline: thick;
  border-width: 1px;
  padding: 5px;
  width: 35%;
  font-size: 2.2rem;
  border-radius: 5px;
}

.end input:focus {
  border: 2px solid var(--secondary);
}

.visible {
  display: flex;
}

.hide {
  display: none;
}


/* ---------------------------------------- Under line --------------------------------*/
#correct {
  border: none;
  color: hsl(0, 5%, 72%);
}

#wrong {
  border: none;
  color: hsl(0, 5%, 72%);
}

/*--------------------------------------- Media Query  --------------------------------- */

@media screen and (max-width: 1024px) {

  .btn {
    width: 100%;
    font-size: 3.0vw;
  }

  #questions {
    font-size: 4.5vw;
  }

  h1 {
    font-size: 4.5vw;
  }

  p {
    font-size: 3.0vw;
  }

}